.btn {
    width: 11rem;
    height: 3.5rem;

    background: $dark;
    color: $light;

    border-radius: 10px;

    text-align: center;

    transition: all .3s ease-out;

    @include respond-to('font') {
        width: 9rem;
        height: 3rem;
    }

    &:hover {
        cursor: pointer;

        background: $light;
        color: $dark;

        border: 1px solid $dark;
    }


    &--small {
        width: 6rem;
        height: 2rem;

        border-radius: 5px;
    }
}


.landing .btn {
    color: $dark;
    background: $light;


    &:hover {
        color: $light;
        background: $dark;
    }
}