$font-size-small: 16px;
$font-size: 20px;
$ratio: 1.33;


$h5: $font-size * $ratio;
$h4: $h5 * $ratio;
$h3: $h4 * $ratio;
$h2: $h3 * $ratio;
$h1: $h2 * $ratio;
$summary: $font-size * $ratio * $ratio;
$label: $font-size * $ratio;

$btn: $font-size;
$btn-small: $font-size;

$dark: #1c1c1c;
$light: #e3e3e3;

$breakpoints: (
    'font': 600px,
    'navbar': 1200px,
    'landing': 800px,
    'why-small': 600px,
    'why-medium': 850px,
    'why-large': 1000px,
    'how': 380px,
    'projects': 1200px,
    'modal': 450px,
    'questions': 400px,
    'form-large': 1200px,
    'form': 800px,
    'footer': 1000px,
) !default;

$navbar-height: 10vh;
$footer-height: 15vh;
$footer-height-large: 30vh;