.contact {


    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &__group {
        width: 80%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        margin-bottom: 2rem;

        @include respond-to('form') {
            width: 60%;
        }

        @include respond-to('form-large') {
            width: 40%;
        }
    }


    &__label {
        margin-bottom: 1rem;
    }


    &__field {
        width: 100%;
        height: 2rem;

        border: 1px solid $dark;

        padding: .5rem;
        overflow-wrap: break-word;

        transition: all .3s ease-out;


        &:focus {
            border: 3px solid black;
        }


        &--large {
            height: 10rem;


            @include respond-to('form') {
                height: 8rem;
            }


            @include respond-to('form-large') {
                height: 8rem;
            }
        }
    }


    & .btn {
        align-self: center;
    }
}