.how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        text-align: center;
    }


    &__info {
        width: 40%;

        counter-reset: item;
    }



    &__item {
        position: relative;

        counter-increment: item;

        padding-left: 2rem;
        margin-bottom: 5rem;

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);

            content: counter(item);

            font-size: $font-size * $ratio * 3;
        }
    }
}