.how {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    &__heading {
        margin-bottom: 6rem;

        text-align: center;
    }


    &__info {
        width: 60%;

        margin-bottom: 4rem;

        counter-reset: item;
    }


    &__item {
        position: relative;

        counter-increment: item;

        padding-left: 4rem;
        margin-bottom: 5rem;


        &:nth-child(5) {
            margin-bottom: 0;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);

            content: counter(item);


            font-size: $font-size * $ratio * 3;
        }


        &__heading {
            margin-bottom: 1rem;
        }
    }
}