.how {

    &__heading {
        text-align: center;
    }


    &__info {
        width: 40%;

        counter-reset: item;

        margin: 0 auto 0 auto;


        @include respond-to('how') {
            width: 80%;

            margin: 0 auto;
        }
    }



    &__item {
        position: relative;

        counter-increment: item;

        margin-bottom: 4rem;
        padding-left: 2rem;


        @include respond-to('how') {
            padding-left: 3rem;
        }


        &:nth-child(5) {
            margin-bottom: 0;
        }

        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);

            content: counter(item);


            font-size: $font-size * $ratio * 3;
        }
    }
}