.landing {
    height: 50rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: $navbar-height;
    margin-bottom: 3rem;

    background-image: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://jasasul.github.io/talent_energy/images/landing_image.jpg');
    background-size: cover;
    background-color: $dark;
    background-position: 90% 50%;

    color: $light;


    @include respond-to('landing') {
        padding-top: $navbar-height + 3rem;
        height: 45rem;
    }


    &__intro {
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }


    &__headings {
        margin-bottom: 2rem;
    }


    &__heading {
        text-align: center;

        margin-bottom: .5rem;
    }


    &__subheading {
        font-size: $font-size * $ratio;
    }


    &__texts {
        width: 70%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        margin-bottom: 3rem;
    }


    &__author {
        align-self: flex-end;
    }
}