.landing {
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../images/landing_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    border: 1px solid $dark;


    &__headings {
        color: $dark;
        margin-bottom: 3rem;
    }


    &__heading {
        text-align: center;

        margin-bottom: 2rem;
    }


    &__subheading {
        text-align: center;
    }
}