.projects {
    height: 100rem;


    @include respond-to('projects') {
        height: 35rem;
    }
    

    &__heading {
        text-align: center;
        margin-bottom: 3rem;
    }


    &__cards {
        height: 80%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @include respond-to('projects') {
            flex-direction: row;
        }
    }
}