.projects {
    height: 90rem;


    @include respond-to('projects') {
        height: 35rem;
    }
    

    &__heading {
        text-align: center;
    }


    &__cards {
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond-to('projects') {
            flex-direction: row;
        }


        & .card {
            margin-bottom: 3rem;
        }
    }
}