.questions {
    height: 80rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    margin-bottom: 3rem;

    @include respond-to('questions') {
        height: auto;
    }


    &__heading {
        margin-top: 3rem;
        margin-bottom: 2rem;

        @include respond-to('questions') {
            margin-top: 0;
        }
    }


    &__question {
        width: 75%;

        list-style-type: none;

        margin-bottom: .5rem;


        &[open] &__heading::before {
            content: '▼';
        }


        &__heading {
            margin-bottom: 1rem;


            &:hover {
                cursor: pointer;
            }

            
            &::before {
                content:'►'; 
            }
        } 


        &__text {
            margin-bottom: 1rem;
        }


        &__list {
            list-style: disc;

            padding-left: 1rem;
            margin-bottom: 1rem;
        }


        &__item {
            margin-bottom: .5rem;

            :last-child {
                margin: 0;
            }
        }
    }
}