.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__intro {
        width: 50%;
        
        margin-bottom: 5rem;
    }


    &__heading {
        text-align: center;
    }


    &__reasons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    &__content {
        @include respond-to('why-large') {
            width: 40%;
        }
    }


    &__reason {
        width: 70%;

        margin-bottom: 3rem;


        @include respond-to('why-small') {
            width: 60%;
        }


        @include respond-to('why-large') {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }


        &:nth-child(3) {
            margin-bottom: 0;
        }


        &__heading {
            margin-bottom: 1rem;

            text-align: center;
        }
    }


    &__image {
        display: none;

        @include respond-to('why-large') {
            display: block;

            width: 10rem;
        }
    }

}