.navbar {
    height: 10vh;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $dark;
    color: $light;


    &__brand {
        height: $navbar-height;
    }


    &__collapse {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        left: auto;
        right: auto;
        top: $navbar-height;

        width: 100%;

        text-align: center;

        transition: all .3s ease-out;


        &--active {
            visibility: visible;
            opacity: 1;
        }
    }


    &__item {
        padding: 1rem 0;

        background: $dark;
        color: $light;

        border: 1px solid $light;
    }


    &__burger {
        height: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        transition: all .3s ease-out;


        &:hover {
            height: 1.5rem;
            cursor: pointer;
        }


        &--active {
            height: 1.5rem;
        }


        &__line {
            visibility: visible;
            opacity: 1;

            width: 2rem;
            height: 2px;

            background: $light;

            transition: all .3s ease-out;


            &--active {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 10px);
                }

                &:nth-child(2) {
                    visibility: hidden;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -10px);
                }
            }
        }
    }
}