.navbar {
    height: $navbar-height;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: $dark;
    color: $light;

    @include respond-to('navbar') {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    &__brand {
        height: 100%;
    }


    &__collapse {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        left: auto;
        right: auto;
        top: $navbar-height;

        width: 100%;

        text-align: center;

        transition: all .3s ease-out;

        @include respond-to('navbar') {
            visibility: visible;
            opacity: 1;

            position: static;

            display: flex;
            justify-content: space-around;
            align-items: center;

            width: 40%;
        }


        &--active {
            visibility: visible;
            opacity: 1;
        }


        &--active .navbar__item:hover {
            background: $light;
            color: $dark;

            border: 1px solid $dark;
        }
    }


    &__item {
        padding: 1rem 0;

        background: $dark;
        color: $light;

        border: 1px solid $light;

        transition: all .3s ease-out;


        @include respond-to('navbar') {
            position: relative;
            border: none;

            &:hover::after {
                width: 100%;
            }

            &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 3px;
                background: $light;

                bottom: 20%;
                left: 0;

                transition: all .3s ease-out;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }


    &__burger {
        height: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        transition: all .3s ease-out;


        @include respond-to('navbar') {
            display: none;
        }


        &:hover {
            height: 1.5rem;
            cursor: pointer;
        }


        &--active {
            height: 1.5rem;
        }


        &__line {
            visibility: visible;
            opacity: 1;

            width: 2rem;
            height: 2px;

            background: $light;

            transition: all .3s ease-out;


            &--active {
                &:nth-child(1) {
                    transform: rotate(45deg) translate(5px, 10px);
                }

                &:nth-child(2) {
                    visibility: hidden;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg) translate(5px, -10px);
                }
            }
        }
    }
}