html {
    font-size: $font-size-small;

    @include respond-to('font') {
        font-size: $font-size;
    }
}


h1 {
    font-size: $h1;
}


h2 {
    font-size: $h2;
}


h3 {
    font-size: $h3;
}


h4 {
    font-size: $h4;
}


h5 {
    font-size: $h5;
}


.btn {
    font-size: $font-size / $ratio;

    @include respond-to('font') {
        font-size: $font-size;
    }


    &--small {
        font-size: $btn-small;
    }
}