html {
    font-size: $font-size-small;

    @include respond-to('font') {
        font-size: $font-size;
    }
}


h1 {
    font-size: $h1;
}


h2 {
    font-size: $h2;

    margin-bottom: 5rem;
}


h3 {
    font-size: $h3;
}


h4 {
    font-size: $h4;
    margin-bottom: 1rem;
}


h5 {
    font-size: $h5;
}


summary {
    font-size: $summary;
    font-weight: bold;

    &::-webkit-details-marker {
        display: none;
    }
}


strong {
    font-weight: bold;
}


label {
    font-size: $label;
}


section {
    margin-bottom: 5rem;
}


.footer {
    line-height: 1.5rem;
}


.btn {
    font-size: $btn;


    &--small {
        font-size: $btn-small;
    }
}